<section>
    <div class="img-div">
        <img src="../../assets/images/mc.jpg" alt="bg" class="img1">
    <div class="text">
        <h1>Welcome to<p class="fl">sTACKS</p></h1>
        <p>Feel free to browse around, check our great deals, and dress to impress.</p>
        <a routerLink="/shoping"><button type="button" class="btn btn-info mt-3">Shop Now</button></a>
    </div>

    </div>

    <!---------Middle section-->
    <div class="container" id="middle">
        <div class="row">
          <div class="col-md text-center ml-3" id="div1">
            <i class="fas fa-shipping-fast"></i>
            <h3>Shipping</h3>
            <p>Shipping takes around 20days, but it is worth it for the end product,
                original and urban wear at your fingertips. </p>
          </div>
          <div class="col-md text-center ml-3" id="div1">
            <i class="fab fa-bitcoin"></i>
           <h3>Crypto</h3>
           <p>Visa, PayPal, MasterCard and now CRYPTO, you can check
               the article below on buying our products with crypto currencies.
           </p>
          </div>
          <div class="col-md text-center" >
            <i class="fas fa-clipboard-list"></i>
            <h3>Login</h3>
            <p>Register an account on our page, to get more bonuses and sale offers.
                Trade shoes with other members and much more.
            </p>
          </div>
        </div>
      </div>

       <!-------Bottom Section--------->
      <div class="home-bottom">
        <img src="../../assets/images/crypto2.jpg" alt="crypto" id="crypto-bg">
        <div class="container" >
          
          <div class="row" id="main-div-crypto">
            <div class="heading2 col-sm-10">
              <h1>How to pay with crypto !</h1>
            </div><br>
            <div class="col-xl-5" id="img-div-cry">
              <img src="../../assets/images/crypto3.png" alt="cy" id="cry">
            </div>
            <div class="col-xl-5">
              <img src="../../assets/images/visa.png" alt="visa" id="cry">
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" id="foot">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset" id="icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset" id="icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset" id="icon">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset" id="icon">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset" id="icon">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset" id="icon">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> Company info
          </h6>
          <p>
            We are here to help, develop and make your life easier. Contact us now for any problem or project you have, our team of developers are ready for any obstacle.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">CSS</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bootstrap</a>
          </p>
          <p>
            <a href="#!" class="text-reset">TypeScript</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Zivinice 75270, BiH</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            ismarbegicit@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 64 44 62 914</p>
          
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://elated-goldberg-540ac3.netlify.app/">sTACKS.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

      
</section>
