<section>
        <h3 class="head  mb-5 mt-5">Sneaker's</h3>
        <div class="row ml-4">
          <div class="col-sm mr-3">
            <img src="../../assets/images/snkr1.PNG" alt="" id="snkr">
            <h3 class="mt-3 title">Air Jordan 5 Wolf</h3>
            <h5 class="bold">250.99$</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisic
                ing elit. Ex, enim dolores hic ipsum vel nihil ipsa doloremque beatae repellendus
                 laboriosam ad quo, quasi quaerat ut nostrum! Perferendis quas totam vitae.</p>
                 <small class="text-muted">Jan, 09.2021</small><button type="button" class="btn btn-dark ml-4">Add to cart</button>
          </div>
          <div class="col-sm mr-3">
            <img src="../../assets/images/snkr2.PNG" alt="" id="snkr">
            <h3 class="mt-3 title">Air Dunk "Limited"</h3>
            <h5 class="bold">360.99$</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisic
                ing elit. Ex, enim dolores hic ipsum vel nihil ipsa doloremque beatae repellendus
                 laboriosam ad quo, quasi quaerat ut nostrum! Perferendis quas totam vitae.</p>
                 <small class="text-muted">Feb, 19.2021</small><button type="button" class="btn btn-dark ml-4">Add to cart</button>
          </div>
          <div class="col-sm">
            <img src="../../assets/images/snkr3.PNG" alt="" id="snkr">
            <h3 class="mt-3 title">Air Max TN Camo</h3>
            <h5 class="bold">199.99$</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisic
                ing elit. Ex, enim dolores hic ipsum vel nihil ipsa doloremque beatae repellendus
                 laboriosam ad quo, quasi quaerat ut nostrum! Perferendis quas totam vitae.</p>
                 <small class="text-muted">Apr, 02.2021</small><button type="button" class="btn btn-dark ml-4">Add to cart</button>
          </div>
        </div>
<hr class="mt-5">
        <!----------Row 2---------->

        <h3 class="head  mb-5 mt-5">Fit's</h3>
        <div class="row ml-4 mb-5">
          <div class="col-sm mr-3">
            <img src="../../assets/images/fit1.PNG" alt="" id="snkr">
            <h3 class="mt-3 title">Off-White Fit</h3>
            <h5 class="bold">2150.99$</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisic
                ing elit. Ex, enim dolores hic ipsum vel nihil ipsa doloremque beatae repellendus
                 laboriosam ad quo, quasi quaerat ut nostrum! Perferendis quas totam vitae.</p>
                 <small class="text-muted">May, 01.2021</small><button type="button" class="btn btn-dark ml-4">Add to cart</button>
          </div>
          <div class="col-sm mr-3">
            <img src="../../assets/images/fit2.PNG" alt="" id="snkr">
            <h3 class="mt-3 title">Nike x Supreme</h3>
            <h5 class="bold">2250.99$</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisic
                ing elit. Ex, enim dolores hic ipsum vel nihil ipsa doloremque beatae repellendus
                 laboriosam ad quo, quasi quaerat ut nostrum! Perferendis quas totam vitae.</p>
                 <small class="text-muted">May, 29.2021</small><button type="button" class="btn btn-dark ml-4">Add to cart</button>
          </div>
          <div class="col-sm">
            <img src="../../assets/images/fit3.PNG" alt="" id="snkr">
            <h3 class="mt-3 title">Essential Fit</h3>
            <h5 class="bold">850.99$</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisic
                ing elit. Ex, enim dolores hic ipsum vel nihil ipsa doloremque beatae repellendus
                 laboriosam ad quo, quasi quaerat ut nostrum! Perferendis quas totam vitae.</p>
                 <small class="text-muted">Apr, 23.2021</small><button type="button" class="btn btn-dark ml-4">Add to cart</button>
          </div>
        </div>

        <hr>
</section>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1"  role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1"  role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1"  role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1"  role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Nerd Stuff</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Angular</a>
              </li>
              <li>
                <a href="#!" class="text-white">Bootstrap</a>
              </li>
              <li>
                <a href="#!" class="text-white">TypeScript</a>
              </li>
              <li>
                <a href="#!" class="text-white">JavaScript</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-white"><i class="fas fa-home me-3"></i> Zivinice 75270, BiH</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-envelope me-3"></i>ismarbegicit@gmail.com</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-phone me-3"></i> + 64 44 62 914</a>
              </li>
            
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Fit Partners</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Supreme</a>
              </li>
              <li>
                <a href="#!" class="text-white">Nike</a>
              </li>
              <li>
                <a href="#!" class="text-white">Fear Of God</a>
              </li>
              <li>
                <a href="#!" class="text-white">OFF White</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Snkr Partners</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Nike.com</a>
              </li>
              <li>
                <a href="#!" class="text-white">Adidas.com</a>
              </li>
              <li>
                <a href="#!" class="text-white">Jordan.com</a>
              </li>
              <li>
                <a href="#!" class="text-white">NewBalance.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">sTACKS.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->